@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

@using unitofwork.Models;

<table style="width:1200px">
    <tr>
        <td width="50%">

            <p><b>User List</b></p>

            <table rules="all" border="1" frame="box" id="tbluser">
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                    <th>Delete</th>

                </tr>
                @foreach (User us in Model.User)
                {
                    <tr>
                        <td>@us.UserId</td>
                        <td>@us.UserName</td>
                        <td><input type="button" value="Delete" onclick="deleteuser('@us.UserId',this)" style="cursor:pointer;" /></td>

                    </tr>
                }
            </table>
        </td>
        <td width="50%">
            <p><b>Product List</b></p>

            <table rules="all" border="1" frame="box" id="tblproduct">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Delete</th>

                </tr>
                @foreach (Product pro in Model.Product)
                {
                    <tr>
                        <td>@pro.ProductId</td>
                        <td>@pro.ProductName</td>
                        <td><input type="button" value="Delete" onclick="deleteproduct('@pro.ProductId',this)" style="cursor:pointer;" /></td>

                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function deleteuser(userid, ctrl) {
        if (confirm("Do you want to delete this user?")) {



            $.ajax({
                url: "Home/deleteuser",
                data: { userid: userid }, // parameter map
                type: "POST", // data has to be Posted
                timeout: 120000,
                dataType: "json",
                success: function (result) {

                    if (result == "1") {
                        $(ctrl).closest('tr').remove();
                    }
                },
                error: function (xhr, status) {

                }
            });
        }
    }



    function deleteproduct(productid, ctrl) {
        if (confirm("Do you want to delete this product?")) {



            $.ajax({
                url: "Home/deleteproduct",
                data: { productid: productid }, // parameter map
                type: "POST", // data has to be Posted
                timeout: 120000,
                dataType: "json",
                success: function (result) {
                    if (result == "1") {
                        $(ctrl).closest('tr').remove();
                    }
                },
                error: function (xhr, status) {

                }
            });
        }
    }

</script>
